@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/react/react-dom.js"></script>
<script src="~/Scripts/react/react-dom-server.js"></script>
<script src="~/Scripts/jsx/Grid.jsx"></script>

<div class="panel panel-info">
    <div class="panel-heading">Demo 1</div>
    <div class="panel-body">
        <div id="area1"></div>
    </div>
</div>
<script src="~/Scripts/jsx/HelloWorld.jsx"></script>


<div class="panel panel-info">
    <div class="panel-heading">Demo 2</div>
    <div class="panel-body">
        @Html.React("Table", new { items = Model })
    </div>
</div>
@@Html.ReactInitJavaScript()
